/*!

 =========================================================
 * Dashboard React - v1.3.0 based on Dashboard 2 - v2.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-dashboard-2
 * Copyright 2021 Amit Badala (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@import "paper-dashboard/variables";
@import "paper-dashboard/mixins";

// Plugins CSS
@import "paper-dashboard/plugins/plugin-animate-bootstrap-notify";
@import "paper-dashboard/plugins/plugin-perfect-scrollbar";

// Core CSS
@import "paper-dashboard/buttons";
@import "paper-dashboard/inputs";
@import "paper-dashboard/typography";
@import "paper-dashboard/misc";
@import "paper-dashboard/checkboxes-radio";

// components
@import "paper-dashboard/navbar";
@import "paper-dashboard/page-header";
@import "paper-dashboard/dropdown";
@import "paper-dashboard/alerts";
@import "paper-dashboard/images";
@import "paper-dashboard/nucleo-outline";
@import "paper-dashboard/tables";
@import "paper-dashboard/sidebar-and-main-panel";
@import "paper-dashboard/footers";
@import "paper-dashboard/fixed-plugin";

// cards
@import "paper-dashboard/cards";
@import "paper-dashboard/cards/card-plain";
@import "paper-dashboard/cards/card-chart";
@import "paper-dashboard/cards/card-user";
@import "paper-dashboard/cards/card-map";
@import "paper-dashboard/cards/card-stats";

@import "paper-dashboard/responsive";

// html to react differences
@import "paper-dashboard/react/react-differences.scss";
@import "paper-dashboard/sections";

.text-shadow-standard {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.section {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  min-height: calc(100vh - 134px);
  align-items: center;
  justify-content: center;
  display: flex;

  p {
    font-size: large;
    font-family: "Montserrat";
    letter-spacing: normal;

    &.typing-text {
      color: #333;
      //   font-family: monospace;
      font-size: x-large;
      font-weight: 100;

      display: inline-block;
      font-family: monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      border-right: 2px solid #333; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typewriter 5s steps(40, end), blink 1s infinite;
      line-height: initial;
    }
  }
}

.big-header {
  font-size: clamp(40px, 8vw, 72px);
  font-weight: 700;
  color: #333;
  letter-spacing: -2px;
}

.sub-big-header {
  color: #565656;
  font-weight: 700;
}

.dark-slate-color {
  color: #333;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.big-header {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.underline-magical {
  background-image: linear-gradient(120deg, #03ff7f 0%, #03ff7f26 100%);
  background-repeat: no-repeat;
  background-size: 100% 1em;
  background-position: 0 88%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

// BLOG PAGE
