/*!

 =========================================================
 * Dashboard React - v1.3.0 based on Dashboard 2 - v2.0.0
 =========================================================

 * Product Page: https://www.creative-tim.com/product/paper-dashboard-2
 * Copyright 2021 Amit Badala (http://www.creative-tim.com)

 * Designed by www.invisionapp.com Coded by www.creative-tim.com

 =========================================================

 * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

 */

@import "paper-dashboard/variables";
@import "paper-dashboard/mixins";

// Plugins CSS
@import "paper-dashboard/plugins/plugin-animate-bootstrap-notify";
@import "paper-dashboard/plugins/plugin-perfect-scrollbar";

// Core CSS
@import "paper-dashboard/buttons";
@import "paper-dashboard/inputs";
@import "paper-dashboard/typography";
@import "paper-dashboard/misc";
@import "paper-dashboard/checkboxes-radio";

// components
@import "paper-dashboard/navbar";
@import "paper-dashboard/page-header";
@import "paper-dashboard/dropdown";
@import "paper-dashboard/alerts";
@import "paper-dashboard/images";
@import "paper-dashboard/nucleo-outline";
@import "paper-dashboard/tables";
@import "paper-dashboard/sidebar-and-main-panel";
@import "paper-dashboard/footers";
@import "paper-dashboard/fixed-plugin";

// cards
@import "paper-dashboard/cards";
@import "paper-dashboard/cards/card-plain";
@import "paper-dashboard/cards/card-chart";
@import "paper-dashboard/cards/card-user";
@import "paper-dashboard/cards/card-map";
@import "paper-dashboard/cards/card-stats";

@import "paper-dashboard/responsive";

// html to react differences
@import "paper-dashboard/react/react-differences.scss";
@import "paper-dashboard/sections";

$transparent: rgba(255, 255, 255, 0);
$rgb: 194, 97, 254;

$light-font: rgb(180, 188, 208);
$purple-radial: radial-gradient(
  ellipse at center,
  rgba(var(--rgb), 0.15),
  var(--transparent)
);
$purple-radial-corner: radial-gradient(
  ellipse at bottom right,
  rgba(var(--rgb), 0.15),
  var(--transparent)
);
$purple-radial-left-corner: radial-gradient(
  ellipse at top left,
  rgba(var(--rgb), 0.15),
  var(--transparent)
);
$thin-border-color: #37363f;

.text-shadow-standard {
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.section {
  font-family: "Montserrat";
  -webkit-font-smoothing: antialiased;
  letter-spacing: -1px;
  min-height: calc(100vh - 134px);
  align-items: center;
  justify-content: center;
  display: flex;

  p {
    font-size: large;
    font-family: "Montserrat";
    letter-spacing: normal;

    &.typing-text {
      color: #333;
      //   font-family: monospace;
      font-size: x-large;
      font-weight: 100;

      display: inline-block;
      font-family: monospace;
      overflow: hidden; /* Ensures the content is not revealed until the animation */
      // border-right: 2px solid #333; /* The typewriter cursor */
      white-space: nowrap; /* Keeps the content on a single line */
      margin: 0 auto; /* Gives that scrolling effect as the typing happens */
      letter-spacing: 0.15em; /* Adjust as needed */
      animation: typewriter 5s steps(40, end);
      line-height: initial;
    }
  }
}

.about-content {
  width: 95%;
  margin: 0px auto;
}

.big-header {
  font-size: clamp(40px, 8vw, 64px);
  font-weight: 700;
  color: white;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

.sub-big-header {
  color: white;
  // font-weight: 700;
  font-size: 2.1rem;
  .underline-magical {
    font-size: 2.8rem;
  }
}

.dark-slate-color {
  color: #333;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

// @keyframes blink {
//   from,
//   to {
//     border-color: transparent;
//   }
//   50% {
//     border-color: black;
//   }
// }

.big-header {
  text-shadow: 1px 3px 4px rgba(0, 0, 0, 0.3);
}

.underline-magical {
  background-image: linear-gradient(120deg, #03ff7f 0%, #03ff7f26 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 100%;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

// BLOG PAGE

.amit {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 350px;
  filter: drop-shadow(2px 2px 7px #0000006d);
}

@media screen and (max-width: 479px) {
  .amit {
    display: none;
  }
}

.sidebar {
  border-right: 1px solid #37363f;
}

.sidebar,
.off-canvas-sidebar {
  .logo {
    background: radial-gradient(
      ellipse at top left,
      rgba(var(--rgb), 0.15),
      var(--transparent)
    );
    --transparent: rgba(255, 255, 255, 0);
    --rgb: 194, 97, 254;
    background-color: #000212;
    img {
      filter: drop-shadow(2px 2px 7px rgba(255, 255, 255, 0.5));
    }
  }
  width: 200px;
  .sidebar-wrapper {
    width: 200px;
    // background: white;
    background-color: #000212;
    border-right: 1px solid #37363f;
  }
}

.main-panel {
  width: calc(100% - 200px);
  .underline-magical {
    background-image: linear-gradient(
      120deg,
      #6840d7 0%,
      rgb(95 3 255 / 15%) 100%
    );
    color: white;
  }
  .navbar {
    p {
      color: white;
    }
  }
  .navbar-sticky {
    border-bottom: 1px solid #37363f;
    /* z-index: 10; */
    /* opacity: 1; */
    /* transform: none; */
    backdrop-filter: blur(12px);
    // background: rgba(255, 255, 255, 0.01);
    transition: opacity 320ms ease 0s, transform;
    background: $purple-radial-left-corner;
    --transparent: rgba(255, 255, 255, 0);
    --rgb: 194, 97, 254;
  }
  .nav-header {
    color: whitesmoke;
  }
  #about {
    background: radial-gradient(
      ellipse at bottom right,
      rgba(var(--rgb), 0.15),
      var(--transparent)
    );
  }
  .section {
    p {
      color: white;
    }
    --transparent: rgba(255, 255, 255, 0);
    --rgb: 194, 97, 254;
  }
  background-color: rgb(0, 2, 18);

  // experience
  .company-highlights {
    .duration {
      color: $light-font;
    }

    .logo-text,
    .position {
      color: white;
    }
  }

  .we-skeleton {
    // background: $purple-radial;
    border-color: $thin-border-color;
    h5 {
      color: white;
    }
    &.selected {
      box-shadow: 0 0 #0000, 0 0 #0000,
        0px 0px 24px 8px rgba(148, 140, 249, 0.4);
      border-color: rgb(148 140 249);
    }
  }
  .tab-container {
    background: $purple-radial;
    padding: 10px;
    td {
      span {
        color: white;
      }
    }
  }
  .nav-tabs {
    border-color: $thin-border-color;
    .nav-item {
      .nav-link {
        color: white;
      }
      .active {
        background: $purple-radial-corner;
        border-color: $thin-border-color;
      }
    }
  }
  .card-user {
    background: $purple-radial;
    .signature {
      color: white;
    }
  }
  .headline {
    h1 {
      color: white;
    }
  }
  .form-group {
    label {
      color: white;
    }
  }
}

.triangle-right {
  width: 0;
  height: 0;
  position: absolute;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 30px solid #f8f9fa;
  right: -60px;
  right: -40px;
}

.triangle {
  width: 0;
  height: 0;
  border-style: solid;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 60px solid #555555;
  border-right: 0;
}

@media screen and (max-width: 479px) {
  .amit {
    display: none;
  }
  .main-panel {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .nav-open .main-panel {
    right: 0;
    -webkit-transform: translate3d(200px, 0, 0);
    transform: translate3d(200px, 0, 0);
  }
}

.copyright {
  color: white;
}

.nav-NavLink {
  i {
    color: white !important;
    opacity: 1;
  }
}

.sidebar .nav li {
  padding-left: 0px !important;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  // box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 0px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(103, 63, 213);
  width: 10px;
}
