.wrapper {
  .sidebar::after {
    background: #f4f3ef;
  }
}

@font-face {
  font-family: "signature";
  src: url("~assets/fonts/Modelistasignature-ownAV.otf");
}

.nav-header {
  // margin-bottom: 20px;
  padding: 10px 30px;
  font-size: x-large;
  display: flex;
  align-items: baseline;
  border-bottom: 1px solid #a7a7a7;
}
.period {
  height: 10px;
  width: 10px;
  background-color: springgreen;
  border: 1px solid;
  border-radius: 50%;
  margin-left: 5px;
}

.main-panel {
  height: 100vh;
  overflow: auto;
  scroll-snap-type: y proximity;
  scroll-padding-top: 57px;

  .navbar-sticky {
    border-bottom: 1px solid #ddd;
    z-index: 10;
    .nav-header {
      padding: unset;
      border: none;
    }
  }

  section {
    display: flex;
    scroll-snap-align: start;
    min-height: 600px;
    height: calc(100vh - 114px);
    .container {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 60px;
      align-items: center;
      justify-content: center;
    }
  }
}

.signature {
  font-family: "signature";
}

.alert {
  font-weight: 500;
  background-color: #333 !important;
  letter-spacing: 0.5px;
}

// ANIMATION WAVE

.waving-hand {
  display: inline-block;
  animation-name: wave;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  10% {
    transform: rotate(14deg);
  }

  20% {
    transform: rotate(-8deg);
  }

  30% {
    transform: rotate(14deg);
  }

  40% {
    transform: rotate(-4deg);
  }

  50% {
    transform: rotate(10deg);
  }

  60% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

// Media query for mobile screens
@media (max-width: 480px) {
  .main-panel {
    scroll-snap-type: none;
    scroll-padding-top: unset;
    overflow-x: clip;

    .big-header {
      font-size: clamp(40px, 12vw, 72px);
    }

    .sub-big-header {
      font-size: clamp(40px, 10vw, 72px);
    }

    section {
      height: auto;
      .card-user {
        margin-top: 50px;
      }

      .contact-form {
        margin-bottom: 150px;
        .headline {
          font-size: smaller;
          margin: 60px 0px 30px;
        }
      }
    }
  }
}
